


.thought1{
    font-family: 'Dancing Script', cursive;
    font-size: 10px;
}

.thought2{
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.thought3{
    font-family: 'Shadows Into Light', cursive;
    line-height: 500px;
}

.expo {
    font-size: x-large;
}